{% extends "base.html" %}

{% block title %}
Detections by Hour
{% endblock %}

{% block content %}
  <h1 class="mt-4">Detections by Hour: {{ date }} {{ hour }}:00</h1>
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Detection Time</th>
        <th>Common Name</th>
        <th>Camera Name</th>
        <th>Thumbnail</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
        <tr>
          <td>{{ record['detection_time'] }}</td>
          <td>{{ record['common_name'] }}</td>
          <td>{{ record['camera_name'] }}</td>
          <td>
            <img src="{{ url_for('frigate_thumbnail', frigate_event=record['frigate_event']) }}" alt="Thumbnail" width="100" height="auto" class="thumbnail" onload="checkTransparentImage(this)" onclick="showSnapshot('{{ url_for('frigate_snapshot', frigate_event=record['frigate_event']) }}', '{{ url_for('frigate_clip', frigate_event=record['frigate_event']) }}')" />
          </td>
          <td>
            <button class="btn btn-danger" onclick="deleteDetection({{ record['id'] }})">Delete</button>
            <button class="btn btn-primary" onclick="showChangeIdentification({{ record['id'] }})">Change</button>
            <div id="change-identification-{{ record['id'] }}" class="change-identification" style="display: none;">
              <form action="{{ url_for('update_detection_route', detection_id=record['id']) }}" method="post" onsubmit="event.preventDefault(); updateDetection({{ record['id'] }});">
                <select name="new_display_name" class="form-select">
                  {% for bird in identified_birds %}
                    <option value="{{ bird }}">{{ bird }}</option>
                  {% endfor %}
                </select>
                <button type="submit" class="btn btn-success mt-2">Update</button>
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'modals_and_scripts.html' %}
{% endblock %}
